@model CaptchaMvc.Models.DefaultBuildInfoModel

@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">
        function @functionName {
            $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() }, function () {});
            return false;
        }
    </script>     
}

<div style="border: 3px solid #F70D1A; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 1px;">
    <img alt = "" id="@Model.ImageElementId" src="@Model.ImageUrl" onclick="@functionName" />
    @Html.Hidden(Model.TokenElementId, Model.TokenValue)

    <hr style="margin: 1px -3px; border: 1px solid #F70D1A;" />

    <div class="form-group" style="margin-bottom: 0px; padding-right: 15px;">
        <div class="col-sm-10 form-validator hr_vertical">
            @Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>
                                                            {
                                                                {"data-val", "true"},
                                                                {"data-val-required", Model.RequiredMessage},
                                                                {"class", "form-control input-md"}
                                                            })
            @Html.ValidationMessage(Model.InputElementId)    
        </div>
        <div class="col-sm-2">
            <a class="btn btn-sm btn-primary" href="#@Model.ImageElementId" id="@id" onclick="@functionName"><i class="fa fa-refresh fa-2x"></i></a>
        </div>
    </div>
</div>
