@model CentralAgentesMvc.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reestablecer contraseña";
    Layout = "../Shared/_LoginLayout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="sysName" href='@Url.Action("Index", "Home")'><h1>Viatics <sub>V.1.0</sub></h1></a>
    </div>
</div>

<div class="container v-center">
    <div id="logo" class="row">
        <div class="col-md-6 col-md-offset-3">
            <section id="registerForm">
                <img class="img-rounded img-reset">

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                Reestablecer contraseña
                            </h3>
                        </div>

                        <div class="panel-body">
                            @{
                                if (ViewBag.Message != null)
                                {
                                    <div class="form-group col-md-12">
                                        @ViewBag.Message
                                    </div>
                                    <div style="text-align:right">
                                        <input type="reset" value="Aceptar" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;" />
                                    </div>

                                }
                                else
                                {
                                    <div class="form-group col-md-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nombre de Usuario", @readonly = "readonly", })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.TextBoxFor(m => m.PasswordQuestion, new { @class = "form-control", @placeholder = "¨Pregunta de Seguridad", @readonly = "readonly", })
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="input-group">
                                            @Html.PasswordFor(m => m.PasswordAnswerHash, new { @class = "form-control", @placeholder = "Respuesta de seguridad", value = Model.PasswordAnswerHash })
                                            @Html.ValidationMessageFor(m => m.PasswordAnswerHash)
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit" name="command" value="Validate">Validar</button>
                                            </span>
                                        </div>
                                    </div>

                                    if (Model.IsValidated)
                                    {
                                        <hr />
                                        <div class="form-group col-md-12">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Ingrese nueva Contraseña", value = Model.NewPassword })
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme nueva Contraseña", value = Model.ConfirmPassword })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    }
                                }
                            }
                        </div>

                        @if ((Model.IsValidated) && (ViewBag.Message == null))
                        { 
                            <div class="panel-footer">
                                <div style="text-align:right">
                                    <button class="btn btn-primary" type="submit" name="command" value="Save">Aceptar</button>
                                    <input type="reset" value="Cancelar" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")';return false;" />
                                </div>
                            </div>
                        }
                    </div>
                }
            </section>
        </div>
    </div>
</div>